DB_URL=postgres://postgres:12345@localhost:5432/workout_tracker?sslmode=disable
PLATFORM=dev
SECRET=your_jwt_secret_here
TEST_DB_URL=postgres://username:password@localhost:5432/workout_tracker_test?sslmode=disable
